@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #003366;
  background: url('img/bg.jpg');
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333333;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
}

.column {
  font-weight: bold;
}

.data-table {
  border-spacing: 5px;
}

table {
  width: 100%;
  max-width: 100%;
}

table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 10px;
}

th {
  text-align-last: left;
}
